<sl-dropdown>
  <button slot="trigger" caret>Dropdown</button>
  <sl-menu>
    <sl-menu-item>Dropdown Item 1</sl-menu-item>
    <sl-menu-item>Dropdown Item 2</sl-menu-item>
    <sl-menu-item>Dropdown Item 3</sl-menu-item>
  </sl-menu>
</sl-dropdown>
